In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
container_event_column_name = ['timestamp', 'event_type', 'instance_id', 'machine_id', 'cpu_requested',
                               'memory_requested', 'disk_requested', 'cpu_ids', 'useless_column']
container_usage_column_name = ['timestamp', 'instance_id', 'cpu', 'memory', 'disk', 'cpu_load_1min', 'cpu_load_5min',
                               'cpu_load_15min', 'avg_cycles_per_instruction', 'avg_cache_miss_per_1000_instruction',
                               'max_cycles_per_instruction', 'max_cache_miss_per_1000_instruction']

In [6]:
file = open('data\container_usage.csv', 'r', encoding='utf-8')
data = pd.read_csv(file)
df = pd.DataFrame(data)
df

,Unnamed: 0,m_108,696330,20,56,Unnamed: 5,Unnamed: 6,Unnamed: 7,0,0.1,2
0,NaN,m_108,698570,14,64,1.56,0.00,0.0,0.0,0.00,4.0
1,NaN,m_108,698620,12,64,1.46,0.03,0.0,0.0,0.00,4.0
2,NaN,m_108,698670,10,64,1.74,0.00,0.0,0.0,0.00,5.0
3,NaN,m_108,699740,7,65,1.57,0.02,0.0,0.0,0.00,6.0
4,NaN,m_108,700010,8,64,1.90,0.00,0.0,0.0,0.00,4.0
...,...,...,...,...,...,...,...,...,...,...,...
99996,c_10097,m_1596,731090,4,100,1.19,0.00,0.0,0.1,0.12,14.0
99997,c_10097,m_1596,731210,5,99,1.37,0.00,1.0,0.1,0.12,11.0
99998,c_10097,m_1596,731580,5,99,1.50,0.00,1.0,0.1,0.12,15.0
99999,c_10097,m_1596,731960,4,99,1.65,0.00,1.0,0.1,0.12,19.0
100000,c_10097,m_1596,732570,4,100,2.02,0.00,3.0,0.1,0.12,9.0

In [ ]:
df.columns = container_usage_column_name
grp = df[['timestamp', 'instance_id', 'cpu']].groupby('timestamp')
mean_grp = grp.mean()
max_grp = grp.max()
min_grp = grp.min()
mean_cpu_usage_by_timestamp = mean_grp['cpu']
max_cpu_usage_by_timestamp = max_grp['cpu']
min_cpu_usage_by_timestamp = min_grp['cpu']